.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", "Sans-serif" ;
}
#second {
    color: blue;
    font-size: 36px;
}
.long {
    font-size: 24px;
}
#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}